.how-it-works-card:hover {
    opacity: 70%;
    border-style: none;
    transition: 0.1s;
}

* {
    /* filter: invert(100%); */                                                                                                                                      
}

.logo-hero {
    position: absolute;
    top: 0%;
    /* animation: moveLogo 2s linear infinite; */
    animation-name: moveLogo;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes moveLogo {
    from { top: 0%; }
    to { top: 100%; visibility: hidden; }
}

.logo-hero-image {
    opacity: 25%;
    /* transition: opacity 2s; */
    animation: something 8s infinite;
}

.logo-hero-image:hover {
    /* opacity: 75%; */
}

.logo-image {
    width: 40%;
    height: 25%;
}

@keyframes something {
    0% { opacity: 25%; }
    25% { opacity: 75%; }
    50% { opacity: 25%; }
    100% { opacity: 25%; }
}

.logo-1 {
    animation: logo1 3s infinite;
}

.logo-2 {
    animation: logo2 3s infinite;
}

.logo-3 {
    animation: logo3 3s infinite;
}

.logo-4 {
    animation: logo4 3s infinite;
}

.logo-5 {
    animation: logo5 3s infinite;
}

.logo-6 {
    animation: logo6 3s infinite;
}

@keyframes logo1 {
    0% { opacity: 75%; }
    12% { opacity: 25%; }
    100% { opacity: 25%; }
}

@keyframes logo2 {
    0% { opacity: 25%; }
    16% { opacity: 75%; }
    33% { opacity: 25%; }
    100% { opacity: 25%; }
}

@keyframes logo3 {
    0% { opacity: 25%; }
    16% { opacity: 25%; }
    33% { opacity: 75%; }
    50% { opacity: 25%; }
    100% { opacity: 25%; }
}

@keyframes logo4 {
    0% { opacity: 25%; }
    33% { opacity: 25%; }
    50% { opacity: 75%; }
    67% { opacity: 25%; }
    100% { opacity: 25%; }
}

@keyframes logo5 {
    0% { opacity: 25%; }
    50% { opacity: 25%; }
    67% { opacity: 75%; }
    83% { opacity: 25%; }
    100% { opacity: 25%; }
}

@keyframes logo6 {
    0% { opacity: 25%; }
    50% { opacity: 25%; }
    67% { opacity: 25%; }
    83% { opacity: 75%; }
    100% { opacity: 25%; }
}

/* @keyframes logo1 {
    0% { opacity: 25%; }
    25% { opacity: 75%; }
    50% { opacity: 25%; }
    100% { opacity: 25%; }
}

@keyframes logo2 {
    0% { opacity: 25%; }
    25% { opacity: 25%; }
    50% { opacity: 75%; }
    100% { opacity: 25%; }
}

@keyframes logo3 {
    0% { opacity: 25%; }
    25% { opacity: 25%; }
    50% { opacity: 25%; }
    100% { opacity: 75%; }
}

@keyframes logo4 {
    0% { opacity: 75%; }
    25% { opacity: 25%; }
    50% { opacity: 25%; }
    100% { opacity: 25%; }
}

@keyframes logo5 {
    0% { opacity: 25%; }
    25% { opacity: 75%; }
    50% { opacity: 25%; }
    100% { opacity: 25%; }
}

@keyframes logo6 {
    0% { opacity: 25%; }
    25% { opacity: 25%; }
    50% { opacity: 75%; }
    100% { opacity: 25%; }
} */