@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* text-overflow: ; */
    word-wrap: break-word;
}

/* Navigation menus */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #001580;
    margin-bottom: 50px;
}
.site-title {
    /* cursor: pointer; */
    color: white;
    font-family: "Montserrat", sans-serif;
}

.top-nav {
    list-style: none;
    display: flex;
}
.top-nav li {
    padding: 0px 20px;
}

.nav-link-text, .loginSignUp a {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #feffff;
    text-decoration: none;

    transition: color 0.3s ease 0s;
}
.nav-link-text:hover {
    color: #0088a9;
}


.loginSignUp a {
    margin: 5px;
    padding: 9px 25px;
    /* background-color: rgba(0, 136, 169, 1); */
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.3s ease 0s;
}

.loginSignUp a:hover {
    opacity: 75%;
}

.login-button {
    /* background-color: white; */
}

.sign-up-button {
    background-color: rgb(143, 144, 229);
}

/* Footer */
/* footer { */
    /* position: fixed; */
    /* margin-top: 500px; */
    /* bottom: 0;
    width: 100%;
    background-color: #0088a9;
    display: flex;
    justify-content: center;
    margin-top: 50px;
} */

.bottom-nav {
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
}

.bottom-nav li {
    list-style: none;
    padding: 2px;
    margin: 20px;
}

.profilePic:hover {
    cursor: pointer;
    /* text-shadow: 5px 10px #e90a0a; */
    box-shadow: 0 0 0 3px #9d97ee;
}

.topNavBar li {
    position: relative;
}

.topNavBar li::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.5s;
  }
  
.topNavBar li:hover::after {
    width: 70%;
}

/* .profileLinks {
    list-style: none;
    display: none;
    background-color: red;
} */

/* .profilePic:focus~.profileLinks {
    display: block;
} */


.profileLinks {
    width: 150px;
    height: 200px;
    display: none;
    float: right;
    border: 3px solid #000000;
  }
   
   .profileLinks > ul > li {
    list-style: none;
    padding: 10px;
   }
   
   .profileLinks > ul > li > a {
    text-decoration: none;
    color: #000000;
   }




  .profileLinks:focus {
    display: block;
   }


.main-wrapper {
    display: flex;
    flex-direction: row;
    /* overflow: auto; */
}
.main-body {
    /* background-image: linear-gradient(to bottom, rgb(226, 68, 34, 0.3), rgb(200, 35, 0, 0.8)); */
    /* filter: invert(1) hue-rotate(180deg)    */
    padding: 0 20px 20px 20px;
    margin-bottom: 100px;
}